#base{
    height: 36.4vw;
    width: 36.4vw;
    justify-self: center;
    justify-items: center;
}
.celula {
  height: 12vw;
  width: 12vw;
}
#p1, #p2, #p3{
display: flex;
}
#l1 {
  border-bottom: 1px solid;
  border-right: 1px solid;
}
#l2 {
  border-bottom: 1px solid;
}
#l3 {
  border-bottom: 1px solid;
  border-left: 1px solid;
}
#l4 {
  border-right: 1px solid;
}

#l6 {
  border-left: 1px solid;
}
#l7 {
  border-top: 1px solid;
  border-right: 1px solid;
}
#l8 {
  border-top: 1px solid;
}
#l9 {
  border-top: 1px solid;
  border-left: 1px solid;
}
button{
    height: 12vw;
    width: 12vw;
    background-color: white;
    box-shadow: none !important;
    border: none;
}
#vez{
    font-size: 3vw;
    margin-top: 1vw;
    text-align: center;
}
#placar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

#j1, #num1, #j2, #num2 {
  margin-top: -2vw;
  font-size: 2vw;
  text-align: center;
}
#come{
margin-top: 1vw;
margin-left: 44.5vw;
height: 4vw;
width: 10vw;
border-radius: 6px;
}
#come:hover{
color: white;
background-color: rgba(128, 0, 128, 0.575);
}

#btn_res{
margin-top: 1vw;
margin-left: 44.5vw;
height: 4vw;
width: 10vw;
border-radius: 6px;
display: none;
}
#btn_res:hover{
color: white;
background-color: rgba(128, 0, 128, 0.575);
}